parameters:
    ignoreErrors:
        -
            message: "#^Access to an undefined property Luracast\\\\Restler\\\\Restler|Luracast\\\\Restler\\\\Scope::\\$_authClasses\\.$#"
            path: ../Classes/System/RestApi/RestApiRequestScope.php

        -
            message: "#^Strict comparison using \\=\\=\\= between bool and null will always evaluate to false\\.$#"
            count: 1
            path: ../Classes/System/Restler/Format/HalJsonFormat.php

        -
            message: "#^Method (.*) has no return type specified\\.$#"
            count: 5
            path: ../Classes/System/RestApi/RestApiRequest.php

        -
            message: "#^Anonymous variable in a (.*) method call can lead to false dead methods\\. Make sure the variable type is known$#"
            paths:
              - ../Tests/
              - ../Classes/

        -
            message: "#^Call to an undefined method (.*)::expects\\(\\)\\.$#"
            path: ../Tests/

        -
            message: "#^Call to function is_callable\\(\\) with null will always evaluate to false\\.$#"
            path: ../Tests/Unit/System/Restler/BuilderTest.php

        -
            message: "#^Use explicit names over dynamic ones$#"
            paths:
              - ../Tests/Unit/System/Restler/ExceptionHandlerTest.php
              - ../Tests/Unit/System/Restler/BuilderTest.php

        -
            message: "#^Constant PATH_site not found\\.$#"
            paths:
              - ../Tests/Unit/BaseTest.php

        -
            message: "#^Use custom exceptions instead of native \"InvalidArgumentException\"$#"
            paths:
              - ../Classes/System/TYPO3/RestlerEnhancer.php
              - ../Classes/System/Restler/Builder.php

        -
            message: "#^Use custom exceptions instead of native \"RuntimeException\"$#"
            path: ../Classes/System/Restler/Format/HalJsonFormat.php

        -
            message: "#^Use custom exceptions instead of native \"LogicException\"$#"
            paths:
              - ../Classes/System/TYPO3/Loader.php

        -
            message: "#^Instead of abstract class, use specific service with composition$#"
            paths:
              - ../Classes/System/RestlerBuilderAware.php
              - ../Classes/System/Restler/AbstractExceptionHandler.php

        -
            message: "#^Comparison operation \">\" between int<1, max> and 0 is always true\\.$#"
            paths:
              - ../Classes/System/Restler/Format/HalJsonFormat.php

        -
            message: "#^Dead catch - Error is never thrown in the try block\\.$#"
            path: ../Classes/System/Restler/Builder.php

        -
            message: "#^Method Aoe\\\\Restler\\\\System\\\\Restler\\\\Builder\\:\\:getCache\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Cache\\\\Backend\\\\SimpleFileBackend but returns TYPO3\\\\CMS\\\\Core\\\\Cache\\\\Backend\\\\BackendInterface\\.$#"
            count: 1
            path: ../Classes/System/Restler/Builder.php
