includes:
    - phpstan-baseline.neon
    - ../.Build/vendor/symplify/phpstan-rules/packages/cognitive-complexity/config/cognitive-complexity-rules.neon

rules:
    - Symplify\PHPStanRules\Rules\NoDefaultExceptionRule

parameters:
    level: max
    paths:
        - "../Classes/"

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

services:
    - class: Symplify\Astral\Naming\SimpleNameResolver
    - class: Symplify\PHPStanRules\CognitiveComplexity\AstCognitiveComplexityAnalyzer
    - class: Symplify\PHPStanRules\CognitiveComplexity\NodeTraverser\ComplexityNodeTraverserFactory
    - class: Symplify\PHPStanRules\CognitiveComplexity\DataCollector\CognitiveComplexityDataCollector
    - class: Symplify\PHPStanRules\CognitiveComplexity\NodeVisitor\NestingNodeVisitor
    - class: Symplify\PHPStanRules\CognitiveComplexity\NodeVisitor\ComplexityNodeVisitor
    - class: Symplify\PHPStanRules\CognitiveComplexity\NodeAnalyzer\ComplexityAffectingNodeFinder
    - class: Symplify\PackageBuilder\Php\TypeChecker
    - class: Symplify\PackageBuilder\Matcher\ArrayStringAndFnMatcher
    - class: Symplify\PHPStanRules\TypeAnalyzer\ObjectTypeAnalyzer
    - class: Symplify\PHPStanRules\TypeAnalyzer\TypeUnwrapper
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - d
                - dd
                - die
                - dump
                - compact
                - var_dump
