parameters:
		ignoreErrors:
			-
				message: "#^(.*)has no return typehint specified\\.$#"
				path: ../
			-
				message: "#^Access to an undefined property Luracast\\\\Restler\\\\Restler\\:\\:\\$_authClasses\\.$#"
				count: 1
				path: ../Classes/System/RestApi/RestApiRequest.php

			-
				message: "#^Access to an undefined property Luracast\\\\Restler\\\\Restler\\:\\:\\$_authClasses\\.$#"
				count: 2
				path: ../Classes/System/RestApi/RestApiRequestScope.php

			-
				message: "#^Method Aoe\\\\Restler\\\\System\\\\RestApi\\\\RestApiRequestScope\\:\\:getOriginalRestApiRequest\\(\\) should return Luracast\\\\Restler\\\\Restler but returns Luracast\\\\Restler\\\\Scope\\.$#"
				count: 1
				path: ../Classes/System/RestApi/RestApiRequestScope.php

			-
				message: "#^Method Aoe\\\\Restler\\\\System\\\\Restler\\\\Builder\\:\\:getCache\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Cache\\\\Backend\\\\SimpleFileBackend but returns TYPO3\\\\CMS\\\\Core\\\\Cache\\\\Backend\\\\BackendInterface\\.$#"
				count: 1
				path: ../Classes/System/Restler/Builder.php

			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\Format\\\\HalJsonFormat\\:\\:decode\\(\\)\" is 9, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/Format/HalJsonFormat.php

			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\Format\\\\HalJsonFormat\\:\\:encode\\(\\)\" is 17, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/Format/HalJsonFormat.php

			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\Format\\\\HalJsonFormat\\:\\:formatJson\\(\\)\" is 14, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/Format/HalJsonFormat.php

			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\RestlerExtended\\:\\:getPath\\(\\)\" is 9, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/RestlerExtended.php

			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\RestlerExtended\\:\\:handleRequestByTypo3Cache\\(\\)\" is 13, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/RestlerExtended.php

			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\Routes\\:\\:containsUrl\\(\\)\" is 16, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/Routes.php
			-
				message: "#^Strict comparison using \\=\\=\\= between bool and null will always evaluate to false\\.$#"
				count: 1
				path: ../Classes/System/Restler/Format/HalJsonFormat.php
			-
				message: "#^Cognitive complexity for \"Aoe\\\\Restler\\\\System\\\\Restler\\\\Builder\\:\\:addApiClassesByGlobalArray\\(\\)\" is 9, keep it under 8$#"
				count: 1
				path: ../Classes/System/Restler/Builder.php
