includes:
    - phpstan-baseline.neon
    - ../.Build/vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - ../.Build/vendor/symplify/phpstan-rules/config/services/services.neon

parameters:
    level: 6
    paths:
        - "../Classes/"

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkAlwaysTrueCheckTypeFunctionCall: false
    checkAlwaysTrueStrictComparison: false

services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - d
                - dd
                - die
                - dump
                - compact
                - var_dump
