<phpunit strict="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="bootstrap.php"
        >
    <testsuites>
        <testsuite name="restler">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../Classes</directory>
    </whitelist>
    <php>
        <const name="RESTLER_PHPUNIT_CONTEXT" value="1" />
    </php>
</phpunit>