name: Deploy to TER

on:
  push:
    tags:
      - "**"


jobs:
  TERUpload:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v1
      - uses: tomasnorre/typo3-upload-ter@v4
        with:
          api-token: ${{ secrets.TYPO3_ORG_API_TOKEN }}
